

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  min-height: 100dvh; 
}

.main-content {
  flex: 1;
  background-color: #DCE2F0;
}