.footer {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    background: #7db5e0;
    padding: 10px;
}

.box-content {
    display: flex;
    align-items: center;
    gap: 5px; 
}
