
.header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    background: #50586C;
    padding: 10px;
}

.box-content {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.nav-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-content a {
    text-decoration: none;
    color: inherit;
}

