
.bubbles-container {
  display: flex;
  gap: 16px;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.bottom-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.saved-listings {
    margin-left: 350px;
}